body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  flex-direction: column;
  width: 98vw;
  margin: auto;
}

.Filter{
  display: flex;
  height: 10%;
  width: 100%;
  margin: 10px 0;
}

.Board{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 99%;
  background-color: #dbdada;
  margin-bottom: 10px;
  padding: 0 5px;
}

.card{
  display: flex;
  flex-direction: column;
  background: #ececec;
  justify-content: space-evenly;
  margin: 10px 0;
  padding: 5px 15px;
  width: 90%;
  height: 100px;
  border: 1px solid #d4cece;
  border-radius: 10px;
  font-size: 12px;
}

.card-id{
  display: flex;
  justify-content: space-between;
  color: #656565;
  font-weight: 500;
}

.card-title{
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}


.header-element{
  display: flex;
  width: 16.5%;
  justify-content: space-between;
  padding-left: 2px;
}

.header-element div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks{
  display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
}

.tasksRow{
  display: flex;
  flex-direction: column;
  width: 16.5%;
}

.dropdown {
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0,0,0,.1);
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}
.tag{
  display: flex;
  width: fit-content;
  padding: 3px 5px 3px 5px;
  border: 1px solid #d0cccc;
  border-radius: 7px;
  color: #656565;
  align-items: center;
}

.header{
  display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
}

.dropdown-header {
  padding: 3px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  box-sizing: border-box;
    padding: 5px;
    border: 1px solid #E5E8EC;
    border-radius: 5px;
    display: none;
    margin-top: 10px;
    background: #cbcbcb;
}

.dropdown-body.open {
  display: block;
  position: absolute;
}

.dropdown-item {
  padding: 10px;
  margin: 2px 0;
}

.selection:hover {
  cursor: pointer;
  background: ghostwhite;
}

.dropdown-row{
  display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.plus {
  width: 15px;
  height: 15px;
  background-image: url("../public/icons/plus.svg");
  background-size: cover; /* Adjust background sizing as needed */
}

.ellipsis {
  width: 15px;
  height: 15px;
  background-image: url("../public/icons/ellipsis.svg");
  background-size: cover; /* Adjust background sizing as needed */
}

.arrow-down {
  width: 12px;
  height: 12px;
  background-image: url("../public/icons/arrow-down.svg");
  background-size: cover; /* Adjust background sizing as needed */
}

.title {
  width: 90%;
}